{% extends "store/base.html" %}


{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome To Trinkets n' More</p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <br/><br/>
                    <p align="justify">
                        Welcome to Trinkets n' More, your one-stop destination for unique trinkets and more! I'm Tameka Ferguson, the founder and curator of this whimsical emporium of delightful treasures.
                        <br/><br/>
                        At Trinkets n' More, we believe in the magic of small things that bring joy to everyday life. Our collection is carefully curated to enchant and captivate, offering a diverse array of trinkets, curiosities, and other charming finds that reflect a world of wonder. Whether you're looking for a quirky gift, a touch of nostalgia, or a delightful addition to your personal space, we've got something special just for you.
                        <br/><br/>
                        Every trinket in our store has a story to tell, and we take pride in sourcing unique items that spark the imagination. From vintage-inspired knick-knacks to modern curiosities, each piece is handpicked to add a touch of whimsy and personality to your life. Our passion for the extraordinary and the extraordinary in the ordinary is what sets us apart.
                        <br/><br/>
                        We understand that your shopping experience is as important as the treasures you discover. That's why we've designed our online store to be user-friendly and enjoyable, ensuring that you can explore our collection with ease and find the perfect trinket that speaks to your heart.
                        <br/><br/>
                        At Trinkets n' More, we value creativity, individuality, and the joy of discovery. Our mission is to spread happiness through the small things that make life truly special. Thank you for joining us on this enchanting journey, and we look forward to being a part of your story.
                        <br/><br/>
                        Indulge in the magic of trinkets and more at Trinkets n' More. Your adventure begins here!
                        <br/><br/><br/><br/>
                    </p>
                </div>
            </center>
        </div>
    </div>

{% endblock %}